@model IEnumerable<MultitecUAGenNHibernate.EN.MultitecUA.EventoEN>

@{
    ViewBag.Title = "Eventos por proyecto";
}

<h2>Eventos en los que participa el proyecto @ViewData["NombreProyecto"]</h2>
<br />
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label><a href="./TodosEventos">Eventos</a></label><span> >> </span><label>@ViewBag.Title</label>
</p>
<br />

<table class="table">
    <tr>
        <th style="width: 20em;">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="max-width: 10em;">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de fin
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 20em;">
                <a href="./Detalles/@Html.DisplayFor(modelItem => item.Id)" style="text-decoration: none;">@Html.DisplayFor(modelItem => item.Nombre)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>@Html.ActionLink("Proyectos presentados", "ProyectosPorEvento", "Proyecto", new { item.Id }, null)</td>
        </tr>
    }

</table>
