@model IEnumerable<MultitecUAGenNHibernate.EN.MultitecUA.EventoEN>

@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos</h2>
<br />
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@ViewBag.Title</label>
</p>
<br />

@using (Html.BeginForm("FiltroNombre", "Evento"))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10 form-inline">
                <label for="nick" style="width:5em;">Nombre: </label><input class="form-control" type="text" name="nombre" />
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Filtro Avanzado", "PorFiltro")

<table class="table">
    <tr>
        <th style="width: 20em;">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="max-width: 10em;">
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de fin
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 20em;">
                <a href="./Detalles/@Html.DisplayFor(modelItem => item.Id)" style="text-decoration: none;">@Html.DisplayFor(modelItem => item.Nombre)</a>
            </td>
            <td style="max-width: 10em;">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
        </tr>
    }

</table>
