@model IEnumerable<MVC_MultitecUA.Models.Servicio>

@{
    ViewBag.Title = "Servicios";
}

<h2>Servicios</h2>
<br />
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@ViewBag.Title</label>
</p>


<table class="table table-hover text-center">
    <thead style="background-color: gainsboro;">
        <tr>
            <th style="width: 20em;"  class="text-center">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody onclick="window.location='/Servicio/Details?id='+@item.Id" style="cursor:pointer;">
            <tr>
                <td style="width: 20em;">
                    <a href="./Details/@Html.DisplayFor(modelItem => item.Id)" style="text-decoration: none;">@Html.DisplayFor(modelItem => item.Nombre)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>

            </tr>
        </tbody>
            }


    </table>

