@model IEnumerable<MultitecUAGenNHibernate.EN.MultitecUA.CategoriaUsuarioEN>

@{
    ViewBag.Title = "Categorías de Usuario";
}

<h2>Categorías de Usuario</h2>
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<p>
    @Html.ActionLink("Nueva Categoría de Usuario", "Create")
</p>

@{ if (TempData.ContainsKey("CUeditada"))
    {
        <p class="text-success"><span class="glyphicon glyphicon-ok-sign"></span> Se ha editado la categoria @TempData["CUeditada"].</p>
        TempData.Remove("CUeditada");
    }
    else if (TempData.ContainsKey("CUcreada"))
    {
        <p class="text-success"><span class="glyphicon glyphicon-ok-sign"></span> Se ha creado la categoria @TempData["CUcreada"].</p>
        TempData.Remove("CUcreada");
    }
}

@{
    if (TempData["mal"] != null)
    {
        <p class="text-danger"><span class="glyphicon glyphicon-remove"></span> @TempData["mal"] </p>
        TempData.Remove("mal");
    }
    else
    if (TempData["bien"] != null)
    {
        <p class="text-success"><span class="glyphicon glyphicon-check"></span> @TempData["bien"] </p>
        TempData.Remove("bien");
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@{
    /* La página que me llega del controlador es una unidad menos de lo que muestro por pantalla (la 0 es la 1) */
    var siguiente = (int)ViewData["pag"] + 1;
    var anterior = siguiente - 2;
    var numPags = (int)ViewData["numeroPaginas"] + 1;
}
<p class="text-center">
    @{
        if (siguiente > 1)
        {
            <label>@Html.ActionLink("Primera", "Index", new { pag = 0 })</label>
            <span>|</span>
            <label>@Html.ActionLink("Anterior", "Index", new { pag = anterior })</label>
        }
        else
        {
            <span>Primera</span>
            <span>|</span>
            <span>Anterior</span>
        }
    }

    <span>|</span>
    <label>Página @siguiente de @numPags</label>
    <span>|</span>

    @{
        if (siguiente < numPags)
        {
            <label>@Html.ActionLink("Siguiente", "Index", new { pag = siguiente })</label>
            <span>|</span>
            <label>@Html.ActionLink("Última", "Index", new { pag = numPags - 1 })</label>
        }
        else
        {
            <span>Siguiente</span>
            <span>|</span>
            <span>Última</span>
        }
    }
</p>