@model MultitecUAGenNHibernate.EN.MultitecUA.RecuerdoEN

@{
    ViewBag.Title = "Borrar recuerdo";
}

<h2>Delete</h2>

<h3>¿Estás seguro de que quiere borrar este recuerdo?</h3>
<div>
    <h4>Recuerdo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
