@model MVC_MultitecUA.Models.Recuerdo

@{
    ViewBag.Title = "Detalles";
}


@{
    if (TempData.ContainsKey("creado"))
    {
        <h2 class="text-success"><span class="glyphicon glyphicon-check"></span> Se ha creado el recuerdo: @ViewData["recuerdo"]</h2>
    }
    else if (TempData.ContainsKey("editado"))
    {
        <h2 class="text-success"><span class="glyphicon glyphicon-check"></span> Se ha editado con exito el recuerdo: @ViewData["recuerdo"]</h2>
    }
    else
    {

        <h2>Detalles del Recuerdo: @ViewData["recuerdo"]</h2>
        <p class="text-center">
            <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Recuerdos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
        </p>
    }
}



<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt>
            Fotos
        </dt>
        <dd>
            @{
                foreach (string foto in (System.Collections.IList)ViewData["listaFotos"])
                {
                    <img src="@foto" alt="Foto del evento" style="max-width:25%;">
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
