@model IEnumerable<MVC_MultitecUA.Models.Recuerdo>

@{
    ViewBag.Title = "Filtro de recuerdos por evento";
}

<h2>Recuerdos de @ViewData["nombreEvento"]</h2>
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Recuerdos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEvento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuerpo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEvento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id}) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id}) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id})
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
