@model MultitecUAGenNHibernate.EN.MultitecUA.UsuarioEN

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Usuario: @ViewData["usuario"]</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Usuarios", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>Categorías:</dt>
        <dd>
            <ul>

                @{
                    foreach (var e in (System.Collections.IEnumerable)ViewData["listaCategoriasEliminar"])
                    {
                        <li style="font-weight: normal;">@e </li>
                    }
                }
            </ul>
        </dd>

    </dl>

    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarCat", "Usuario"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Agregar Categoría:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasAgregar"]), new { @class = "form-control" })
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarCat", "Usuario"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Eliminar Categoría:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasEliminar"]), new { @class = "form-control" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
