@model MVC_MultitecUA.Models.Solicitud

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Solicitud</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Solicitudes", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nick_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nick_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Proyecto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la lista", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
</p>
