@model MVC_MultitecUA.Models.Solicitud

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdSolicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSolicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nick_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nick_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Solicitante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Solicitante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado_Proyecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado_Proyecto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @{
                if (Model.Estado == "Pendiente")
                {
                    @Html.ActionLink("Aceptar", "CambioEstado", new { id = ViewData["idSolicitud"], cambioEstado = "Aceptar" }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Rechazar", "CambioEstado", new { id = ViewData["idSolicitud"], cambioEstado = "Rechazar" }, new { @class = "btn btn-default" })
                }
                else
                {
                    <h3>Solo puedes modificar el estado de solicitudes pendientes</h3>
                }
            }
            
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a solicitudes", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
