<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../fontello/css/fontello.css">
    <title>@ViewBag.Title - MultitecUA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using MultitecUAGenNHibernate.CEN.MultitecUA;
    @using MultitecUAGenNHibernate.EN.MultitecUA;
</head>
<body>
    @{
        var navclass = "";
        if (Session["modoAdmin"] != null && Session["modoAdmin"].ToString() == "true")
        {
            navclass = "navbar navbar-inverse navbar-fixed-top";
        }
        else
        {
            navclass = "navbar navbar-default navbar-fixed-top";
        }
    }
    <div class="@navclass">
        <div class="container">
            <div class="navbar-header">
                <a href="/">
                    <img src="../../Multitec.png" alt="Logo de la página. Enlace a índice">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ if (Session["usuario"] == null || (Session["usuario"] != null && Session["modoAdmin"].ToString() == "false"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Proyectos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Mis proyectos", "MisProyectos", "Proyecto", new { nick = Session["usuario"] }, null)</li>
                                    <li>@Html.ActionLink("Listado de Proyectos", "ProyectosPresentados", "Proyecto")</li>
                                    <li>@Html.ActionLink("Nuevo Proyecto", "Crear", "Proyecto")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Eventos
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Mis eventos", "MisEventos", "Evento")</li>
                                    <li>@Html.ActionLink("Listado de eventos", "TodosEventos", "Evento")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Otros
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Miembros", "Index", "Usuario")</li>
                                    <li>@Html.ActionLink("Servicios", "ServiciosDisponibles", "Servicio")</li>
                                    <li><a href="http://multitecua.ml" target="_blank">Contacto / Acerca de</a></li>
                                </ul>
                            </li>

                        }
                    }
                </ul>
                @{
                    if (Session["usuario"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            @{
                                if (Session["modoAdmin"].ToString() == "true")
                                {

                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Administrar
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                                            <li>@Html.ActionLink("Mensajes", "Index", "Mensaje")</li>
                                            <li>@Html.ActionLink("Categorías de Usuarios", "Index", "CategoriaUsuario")</li>
                                            <li>@Html.ActionLink("Proyectos", "Index", "Proyecto")</li>
                                            <li>@Html.ActionLink("Solicitudes", "Index", "Solicitud")</li>
                                            <li>@Html.ActionLink("Categorías de Proyectos", "Index", "CategoriaProyecto")</li>
                                            <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
                                            <li>@Html.ActionLink("Recuerdos", "Index", "Recuerdo")</li>
                                            <li>@Html.ActionLink("Noticias", "Index", "Noticia")</li>
                                            <li>@Html.ActionLink("Servicios", "Index", "Servicio")</li>
                                        </ul>
                                    </li>
                                }
                            }
                            @{
                                if (Session["modoAdmin"].ToString() == "false")
                                {
                                    int numeroNotificaciones = 0;
                                    NotificacionUsuarioCEN notificacionUsuarioCEN = new NotificacionUsuarioCEN();
                                    UsuarioCEN usuarioCEN = new UsuarioCEN();

                                    int OIDusuario = usuarioCEN.ReadNick(Session["usuario"].ToString()).Id;

                                    IList<NotificacionUsuarioEN> notificaciones = notificacionUsuarioCEN.DameNotificacionesNoLeidasPorUsuario(OIDusuario);

                                    numeroNotificaciones = notificaciones.Count;

                                    string estilo = "";

                                    if ((numeroNotificaciones) == 0)
                                    {
                                        estilo = "color: #999; font-size:1.15em";
                                    }
                                    else
                                    {
                                        estilo = "color:red ; font-size:1.15em";
                                    }


                                    <li><a href="/NotificacionUsuario/NoLeidas"><span class="glyphicon glyphicon-bell" style=@estilo></span> @numeroNotificaciones</a></li>
                                }

                            }
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    @Session["usuario"]
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @{if (Session["modoAdmin"].ToString() == "false")
                                        {
                                            <li>
                                                @Html.ActionLink("Modificar perfil", "Modificar", "Usuario")
                                            </li>
                                            <li>
                                                @Html.ActionLink("Mis mensajes", "MisMensajes", "Mensaje")
                                            </li>
                                        }
                                    }
                                    @{ if (Session["esAdmin"].ToString() == "true")
                                        {
                                            if (Session["modoAdmin"].ToString() == "false")
                                            {

                                                <li>
                                                    @Html.ActionLink("Entrar al modo Administrador", "Adminin", "Sesion")
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @Html.ActionLink("Salir del modo Administrador", "Adminout", "Sesion")
                                                </li>
                                            }
                                        }
                                    }
                                    <li>
                                        @Html.ActionLink("Cerrar Sesión", "Logout", "Sesion")
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }

                }
                @{
                    if (Session["usuario"] == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Iniciar Sesión", "Login", "Sesion")
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Portal Web de la <a href="http://multitecua.ml">Asociación de Estudiantes MultitecUA</a> de la Universidad de Alicante</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
