@model MultitecUAGenNHibernate.EN.MultitecUA.ProyectoEN

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del Proyecto: @ViewData["titulo"]</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Proyectos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Creador
        </dt>

        <dd>
            @ViewData["creador"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>Categorías Proyecto:</dt>
        <dd>
            <ul>

                @{
                    foreach (var e in (System.Collections.IEnumerable)ViewData["listaCategoriasProyectoEliminar"])
                    {
                        <li style="font-weight: normal;">@e </li>
                    }
                }
            </ul>
        </dd>

        <dt>Categorías Usuario:</dt>
        <dd>
            <ul>

                @{
                    foreach (var e in (System.Collections.IEnumerable)ViewData["listaCategoriasUsuarioEliminar"])
                    {
                        <li style="font-weight: normal;">@e </li>
                    }
                }
            </ul>
        </dd>

    </dl>

    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarCatPro", "Proyecto"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Agregar Categoría de Proyecto:</label>
                @Html.DropDownList("CategoriaPro", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasProyectoAgregar"]), new { @class = "form-control" })
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarCatPro", "Proyecto"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Eliminar Categoría de Proyecto:</label>
                @Html.DropDownList("CategoriaPro", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasProyectoEliminar"]), new { @class = "form-control" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }
    </div>

    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarCatUsu", "Proyecto"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Agregar Categoría de Usuario:</label>
                @Html.DropDownList("CategoriaUsu", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasUsuarioAgregar"]), new { @class = "form-control" })
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarCatUsu", "Proyecto"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Eliminar Categoría de Usuario:</label>
                @Html.DropDownList("CategoriaUsu", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasUsuarioEliminar"]), new { @class = "form-control" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
