@model MultitecUAGenNHibernate.EN.MultitecUA.ProyectoEN

@{
    ViewBag.Title = "Gestion de Moderdadores";
}

<h2>Gestion de Moderdadores de @ViewData["nombre"]</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Proyectos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<div>
    <hr />
    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarModerador", "Proyecto"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <label>Agregar Moderador:</label>
                @Html.DropDownList("Moderador", new SelectList((System.Collections.IEnumerable)ViewData["listaUsuariosAgregar"]), new { @class = "form-control" })
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarModerador", "Proyecto"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <label>Eliminar Moderador:</label>
                @Html.DropDownList("Moderador", new SelectList((System.Collections.IEnumerable)ViewData["listaUsuariosEliminar"]), new { @class = "form-control" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
