@model IEnumerable<MultitecUAGenNHibernate.EN.MultitecUA.ProyectoEN>

@{
    ViewBag.Title = "Proyectos de Usuario";
}

<h2>Proyectos en los que @ViewData["participante"] participa</h2>
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Proyectos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            Eventos
        </th>
        <th>
            Participantes
        </th>
        <th>
            Moderadores
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <th>
                @Html.DisplayFor(model => item.Estado)
            </th>
            <th>
                @Html.ActionLink("Eventos", "porProyecto", "Evento", new { id = item.Id }, null)
            </th>
            <th>
                @Html.ActionLink("Participantes", "UsuariosParticipantes", "Usuario", new { id = item.Id }, null)
            </th>
            <th>
                @Html.ActionLink("Moderadores", "UsuariosModeradores", "Usuario", new { id = item.Id }, null)
            </th>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Cambiar Estado", "ChangeEstado", new { id = item.Id }) |
                @Html.ActionLink("Gestionar Eventos", "GestionEventos", new { id = item.Id }) |
                @Html.ActionLink("Gestionar Participantes", "GestionParticipantes", new { id = item.Id }) |
                @Html.ActionLink("Gestionar Moderadores", "GestionModeradores", new { id = item.Id })
            </td>
        </tr>
    }

</table>