@model MVC_MultitecUA.Models.MensajeModel

@{
	ViewBag.Title = "Editar bandeja receptor";
}

<h2>Editar la bandeja del receptor de Mensaje</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Mensajes", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.AutorId)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.AutorId)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.ReceptorId)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ReceptorId)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Titulo)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Titulo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Cuerpo)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Cuerpo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.NombreAutor)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.NombreAutor)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.NickAutor)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.NickAutor)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.NombreReceptor)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.NombreReceptor)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.NickReceptor)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.NickReceptor)
			</dd>

		</dl>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">

			@Html.ActionLink("Activo", "CambioBandejaReceptor", new { id = ViewData["idMensaje"], CambioBandejaReceptor = "Activo" }, new { @class = "btn btn-default" })
			@Html.ActionLink("Archivado", "CambioBandejaReceptor", new { id = ViewData["idMensaje"], CambioBandejaReceptor = "Archivado" }, new { @class = "btn btn-default" })
			@Html.ActionLink("Borrado", "CambioBandejaReceptor", new { id = ViewData["idMensaje"], CambioBandejaReceptor = "Borrado" }, new { @class = "btn btn-default" })

		</div>
	</div>



}

<div>
	@Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
