@model MVC_MultitecUA.Models.MensajeModel

@{
    ViewBag.Title = "Modificar estado de lectura";
}

<h2>Modificar el estado de lectura de Mensaje</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Mensajes", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.AutorId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AutorId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ReceptorId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ReceptorId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Titulo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Titulo)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Cuerpo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Cuerpo)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NombreAutor)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NombreAutor)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NickAutor)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NickAutor)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NombreReceptor)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NombreReceptor)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.NickReceptor)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NickReceptor)
		</dd>

	</dl>
</div>
<div class="form-group">
	<div class="col-md-offset-2 col-md-10">

		@Html.ActionLink("Leido", "CambioEstado", new { id = ViewData["idMensaje"], cambioEstado = "Leido" }, new { @class = "btn btn-default" })
		@Html.ActionLink("No Leido", "CambioEstado", new { id = ViewData["idMensaje"], cambioEstado = "NoLeido" }, new { @class = "btn btn-default" })


	</div>
</div>



}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
