@model MVC_MultitecUA.Models.Recuerdo

@{
    ViewBag.Title = "Borrar recuerdo";
}

<h2>Borrar el Recuerdo @Html.DisplayFor(model => model.Titulo) del evento @Html.DisplayFor(model => model.NombreEvento)</h2>
<br />
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Eventos", "TodosEventos", "Evento") / @Html.ActionLink("Mis eventos", "MisEventos", "Evento")</label><span> >> </span><label><a href="/Evento/Detalles/@Html.DisplayFor(model=>Model.IdEvento)">Detalles del evento</a></label><span> >> </span><label><a href="../porEvento?idEvento=@Html.DisplayFor(model=>Model.IdEvento)">Recuerdos del evento</a></label><span> >> </span><label>@ViewBag.Title</label>
</p>

<h3>¿Estás seguro de que deseas borrar este recuerdo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>

    </dl>

    @using (Html.BeginForm(/*"Delete","Recuerdo",new { id = Html.DisplayFor(model=>model.Id)}*/))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista de recuerdos", "porEvento","Recuerdo",new { idEvento = Model.IdEvento},null)
        </div>
    }
</div>
