@model MVC_MultitecUA.Models.Recuerdo

@{
    ViewBag.Title = "Detalles del recuerdo";
}

@{
    if (TempData.ContainsKey("creado"))
    {
        <h2 class="text-success"><span class="glyphicon glyphicon-check"></span> Se ha creado el recuerdo: @ViewData["recuerdo"]</h2>
    }
    else if (TempData.ContainsKey("editado"))
    {
        <h2 class="text-success"><span class="glyphicon glyphicon-check"></span> Se ha editado con exito el recuerdo: @ViewData["recuerdo"]</h2>
    }
    else
    {

        <h2>Detalles del recuerdo @ViewData["recuerdo"] del evento @Html.DisplayFor(model=>model.NombreEvento)</h2>
        <br />
        <p class="text-center">
            <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Eventos", "TodosEventos", "Evento") / @Html.ActionLink("Mis eventos", "MisEventos", "Evento")</label><span> >> </span><label><a href="/Evento/Detalles/@Html.DisplayFor(model=>model.IdEvento)">Evento: @Html.DisplayFor(model => model.NombreEvento)</a></label><span> >> </span><label><a href="../porEvento?idEvento=@Html.DisplayFor(model=>Model.IdEvento)">Recuerdos del evento</a></label><span> >> </span><label>@ViewBag.Title</label>
        </p>
    }
}

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>

        <dt>
            Nombre del evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt>
            Fotos
        </dt>
        <dd>
            @{
                foreach (string foto in (System.Collections.IList)ViewData["listaFotos"])
                {
                    <img src="@foto" alt="Foto del evento" style="max-width:25%;">
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la lista de recuerdos", "porEvento", "Recuerdo", new { idEvento = ViewData["idEvento"] }, null)
</p>
