@model MultitecUAGenNHibernate.EN.MultitecUA.NoticiaEN

@{
    ViewBag.Title = "Detalles";
}



@{
    if (TempData.ContainsKey("noticiacreada"))
    {
        <h2 class="text-danger">Se ha creado la noticia: @ViewData["titulo"]</h2>
    }
    else if (TempData.ContainsKey("noticiaeditada"))
    {
        <h2 class="text-danger">Se ha editado con exito la noticia: @ViewData["titulo"]</h2>
    }
    else
    {
        <h2>Detalles de la Noticia: @ViewData["titulo"]</h2>
        <p class="text-center">
            <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Noticias", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
        </p>
    }
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuerpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuerpo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoNoticia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FotoNoticia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
