@model MVC_MultitecUA.Models.Servicio

@{
    ViewBag.Title = "Detalles";
}



@{
    if (TempData.ContainsKey("serviciocreado"))
    {
        <h2 class="text-success"><span class="glyphicon glyphicon-check"></span> Se ha creado el servicio: @ViewData["servicio"]</h2>
        TempData.Remove("serviciocreado");
    }
    else if (TempData.ContainsKey("servicioeditado"))
    {
        <h2 class="text-success"><span class="glyphicon glyphicon-check"></span> Se ha editado con exito el servicio: @ViewData["servicio"]</h2>
        TempData.Remove("servicioeditado");
    }
    else
    {
        <h2>Detalles del Servicio: @ViewData["servicio"]</h2>
        <p class="text-center">
            <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Servicios", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
        </p>
    }
}



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            Fotos
        </dt>

        <dd>
            @{
                foreach (string foto in (System.Collections.IList)ViewData["listaFotos"])
                {
                    <img src="@foto" alt="Foto del evento" style="max-width:25%;">
                }
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id, url = @HttpContext.Current.Request.Url.AbsoluteUri }) |
    @{
        if (ViewData.ContainsKey("volver"))
        {
            <a href="@ViewData["volver"]">Volver a la lista</a>
        }
        else
        {
            @Html.ActionLink("Volver a la lista", "Index")
        }
    }
</p>
