@model MVC_MultitecUA.Models.MensajeModel

@{
	ViewBag.Title = "Detalles";
}

<h2>Detalles de Mensaje</h2>
<p class="text-center">
	<label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Mis mensajes", "MisMensajes")</label><span> >> </span><label>@ViewBag.Title</label>
</p>


@{
	if (TempData["bien"] != null)
	{
		<p class="text-success"><span class="glyphicon glyphicon-check"></span> @TempData["bien"] </p>
		TempData.Remove("bien");
	}
	else if (TempData["bien2"] != null)
	{
		<p class="text-success"><span class="glyphicon glyphicon-check"></span> @TempData["bien2"] </p>
		TempData.Remove("bien2");
	}
	else
	if (TempData["regular2"] != null)
	{
		<p class="text-warning"><span class="glyphicon glyphicon-check"></span> @TempData["regular2"] </p>
		TempData.Remove("regular2");
	}
}

<div>
	<hr />
	<dl class="dl-horizontal">
		<dd>
			@Html.DisplayFor(model => model.Titulo)
			@Html.DisplayFor(model => model.Fecha)
		</dd>
		<br>
		<dt>
			@Html.Label("Autor: ")
		</dt>
		<dd>
			@Html.ActionLink(Model.NickAutor, "Detalles", "Usuario", new { nick = Model.NickAutor }, null)
		</dd>
		<br>
			<dd>
				@Html.DisplayFor(model => model.Cuerpo)
			</dd>
	</dl>
</div>
<p>
	@if(Model.NickAutor.ToString() != Session["usuario"].ToString()){
		@Html.ActionLink("Responder mensaje", "Crear", "Mensaje", new { id = Model.AutorId }, new { @class = "btn btn-default" })
	}
	@Html.ActionLink("Volver a mis mensajes", "MisMensajes", null, new { @class = "btn btn-default" })
</p>
