@model MultitecUAGenNHibernate.EN.MultitecUA.ProyectoEN

@{
    ViewBag.Title = "EnviarSolicitud";
}

<h2>Enviar Solicitud</h2>

<p class="text-center">
    <label>@Html.ActionLink("Proyectos Presentados", "ProyectosPresentados", "Proyecto")</label><span> >> </span><label>@Html.ActionLink("Detalle de Proyecto", "Detalles/" + Model.Id, "Proyecto")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<div>

    @{
        if (ViewData["mal"] != null)
        {
            <h3 class="text-danger"><span class="glyphicon"></span> @ViewData["mal"] </h3>

        }
        else
        if (ViewData["Titulo"] != null)
        {
            <h3 class="text-success"><span class="glyphicon"></span> @ViewData["Titulo"] </h3>
        }
        else
        {
            <h4>Ya perteneces a este proyecto</h4>
        }
    }





    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
    @{
        if (ViewData["esParticpante"] == null)
        {
            <div class="form-actions no-color" style="padding:0em 7em 0em 7em;">
                @Html.ActionLink("Enviar Solicitud", "EnviarSolicitudPost", new { proyectoId = Model.Id }, new { @class = "btn btn-warning" , @style = "padding:0.2em 3em 0.2em 3em;" })
            </div>
        }

            }
</div>
<p>    
    @Html.ActionLink("Volver", "../Proyecto/Detalles", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
