@model MultitecUAGenNHibernate.EN.MultitecUA.EventoEN

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Eventos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<h3>¿Estás seguro de que deseas borrar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Fecha de Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            Fecha de Fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            Fecha de Inicio de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioInscripcion)
        </dd>

        <dt>
            Fecha Tope de Inscripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTopeInscripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
