@model MultitecUAGenNHibernate.EN.MultitecUA.EventoEN

@{
    ViewBag.Title = "Detalles";
}



@{
    if (TempData.ContainsKey("eventocreado"))
    {
        <h2 class="text-success">Se ha creado el evento: @ViewData["NombreEvento"]</h2>
    }
    else if (TempData.ContainsKey("eventoeditado"))
    {
        <h2 class="text-success">Se ha editado con exito el evento: @ViewData["NombreEvento"]</h2>
    }
    else
    {
        <h2>Detalles del Evento: @ViewData["NombreEvento"]</h2>
        <p class="text-center">
            <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Eventos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
        </p>
    }
}





<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTopeInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTopeInscripcion)
        </dd>

        <dt>Categorías:</dt>
        <dd>
            <ul>

                @{
                    foreach (var e in (System.Collections.IEnumerable)ViewData["listaCategoriasEliminar"])
                    {
                        <li style="font-weight: normal;">@e </li>
                    }
                }
            </ul>
        </dd>
    </dl>
    <br />
    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarCat", "Evento"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Agregar Categoría:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasAgregar"]), new { @class = "form-control" })
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarCat", "Evento"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal form-group form-inline">
                <label>Eliminar Categoría:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasEliminar"]), new { @class = "form-control" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }


        <div class="form-inline">
            @Html.ActionLink("Proyectos asociados", "ProyectosPorEvento", "Proyecto", new { id = ViewData["IdEvento"] }, new { @class = "btn btn-default" })
            @Html.ActionLink("Crear recuerdo", "Create", "Recuerdo", new { idEvento = ViewData["IdEvento"] }, new { @class = "btn btn-default" })
            @Html.ActionLink("Ver Recuerdos", "porEvento", "Recuerdo", new { idEvento = ViewData["IdEvento"] }, new { @class = "btn btn-default" })
        </div>


    </div>
</div>
<br />
<p class="form-inline">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
