@model MultitecUAGenNHibernate.EN.MultitecUA.EventoEN

@{
    ViewBag.Title = "Detalles del evento";
}

<h2>Evento: @ViewData["NombreEvento"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTopeInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTopeInscripcion)
        </dd>

    </dl>
    <br />
    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarCat", "Evento"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <label>Agregar categoria:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasP"]))
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarCat", "Evento"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <label>Eliminar categoria:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasP"]))
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }

        @Html.ActionLink("Proyectos", "ProyectosPorEvento", new { id = ViewData["IdEvento"] })
        @Html.ActionLink("Proyectos", "EliminarProyectos", new { id = ViewData["IdEvento"] })
        <br />
        @Html.ActionLink("Crear recuerdo", "Create", "Recuerdo", new { id = ViewData["IdEvento"] },null)


    </div>
</div>
<p>
    @Html.ActionLink("Editar evento", "Edit", new { id = Model.Id }) 
    <br />
    @Html.ActionLink("Volver", "Index")
</p>
