@model MultitecUAGenNHibernate.EN.MultitecUA.EventoEN

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Eventos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioInscripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTopeInscripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTopeInscripcion)
        </dd>

    </dl>
    <br />
    <div class="dl-horizontal">
        @using (Html.BeginForm("AgregarCat", "Evento"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <label>Agregar categoria:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasAgregar"]))
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        }

        @using (Html.BeginForm("EliminarCat", "Evento"))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <label>Eliminar categoria:</label>
                @Html.DropDownList("Categoria", new SelectList((System.Collections.IEnumerable)ViewData["listaCategoriasEliminar"]))
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        }

        @Html.ActionLink("Proyectos asociados", "ProyectosPorEvento", "Proyecto", new { id = ViewData["IdEvento"] }, null)
        <br />
        @Html.ActionLink("Eliminar proyectos presentados", "eliminarProyectosAsociados", new { id = ViewData["IdEvento"] })
        <br />
        @Html.ActionLink("Crear recuerdo", "Create", "Recuerdo", new { idEvento = ViewData["IdEvento"] }, null)
        <br />
        @Html.ActionLink("Ver Recuerdos", "porEvento", "Recuerdo", new { idEvento = ViewData["IdEvento"] }, null)


    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) 
    <br />
    @Html.ActionLink("Volver a la lista", "Index")
</p>
