@model IEnumerable<MultitecUAGenNHibernate.EN.MultitecUA.EventoEN>

@{
    ViewBag.Title = "Por Proyecto";
}

<h2>Por Proyecto</h2>
<p class="text-center">
    <label>@Html.ActionLink("Inicio", "Index", "Home")</label><span> >> </span><label>@Html.ActionLink("Eventos", "Index")</label><span> >> </span><label>@ViewBag.Title</label>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Inicio
        </th>
        <th>
            Fin
        </th>
        <th>
            Inicio de inscripción
        </th>
        <th>
            Tope de inscripción
        </th>
        <th>
            Proyectos asociados
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicioInscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaTopeInscripcion)
            </td>
            <td>
                @Html.ActionLink("Proyectos", "ProyectosPorEvento", "Proyecto", new { id = item.Id }, null)
            </td>

            <td style="text-align: center;">
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
